<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.richardsolomou.atmos">

    <!-- Permission for using NFC hardware -->
    <uses-permission android:name="android.permission.NFC"/>
    <!-- Permission for connecting to the Internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Permissions for Google Play Services -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

    <!-- Forcing device to have NFC hardware -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ATMOS">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".LoadingScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".AddStudentActivity"
            android:label="Add Student"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateVisible">
        </activity>
    </application>

</manifest>
